<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748122841937-t1femok3q7g00ajuu5lasjqg04ov1bpc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748122841937-t1femok3q7g00ajuu5lasjqg04ov1bpc</string>
	<key>API_KEY</key>
	<string>AIzaSyCc_Mrepl05_P6DnCqppWWuU1snj5BpsjU</string>
	<key>GCM_SENDER_ID</key>
	<string>748122841937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chromaSlash</string>
	<key>PROJECT_ID</key>
	<string>chromaslash-785de</string>
	<key>STORAGE_BUCKET</key>
	<string>chromaslash-785de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748122841937:ios:8c33906956838a39e26970</string>
	<key>DATABASE_URL</key>
	<string>https://chromaslash-785de.firebaseio.com</string>
</dict>
</plist>